[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-randomly = "*"
pytest-sugar = "*"
pytest-cov = "*"
vcrpy = "*"
pytest-watch = "*"

[packages]
requests = "*"

[requires]
python_version = "3.5"
