interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.to/api/articles?page=1&username=ben
  response:
    body:
      string: "[{\"type_of\":\"article\",\"id\":95454,\"title\":\"Contributors Wanted:
        Night Mode/Themes on DEV\",\"description\":\"\\n\\nWe recently made night
        mode an option for the dev.to interface. You can change ...\",\"cover_image\":null,\"published_at\":\"2019-03-29T17:27:55.632Z\",\"tag_list\":[\"contributorswanted\",\"opensource\",\"meta\",\"css\"],\"slug\":\"contributors-wanted-night-mode-themes-on-dev-i8n\",\"path\":\"/devteam/contributors-wanted-night-mode-themes-on-dev-i8n\",\"url\":\"https://dev.to/devteam/contributors-wanted-night-mode-themes-on-dev-i8n\",\"canonical_url\":\"https://dev.to/devteam/contributors-wanted-night-mode-themes-on-dev-i8n\",\"comments_count\":7,\"positive_reactions_count\":84,\"user\":{\"name\":\"Ben
        Halpern\",\"username\":\"ben\",\"twitter_username\":\"bendhalpern\",\"github_username\":\"benhalpern\",\"website_url\":\"http://benhalpern.com\",\"profile_image\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--Y1sq1tFG--/c_fill,f_auto,fl_progressive,h_640,q_auto,w_640/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/1/f451a206-11c8-4e3d-8936-143d0a7e65bb.png\",\"profile_image_90\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--DcW51A6v--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/1/f451a206-11c8-4e3d-8936-143d0a7e65bb.png\"},\"organization\":{\"name\":\"The
        DEV Team\",\"username\":\"devteam\",\"slug\":\"devteam\",\"profile_image\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--0kDBq1Ne--/c_fill,f_auto,fl_progressive,h_640,q_auto,w_640/https://thepracticaldev.s3.amazonaws.com/uploads/organization/profile_image/1/0213bbaa-d5a1-4d25-9e7a-10c30b455af0.png\",\"profile_image_90\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--8tTU-XkZ--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://thepracticaldev.s3.am[...]
[...]
