interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.to/api/articles/10
  response:
    body:
      string: "{\"type_of\":\"article\",\"id\":10,\"title\":\"Do Not Let JavaScript
        Fatigue Become A Buzzword\",\"description\":\"\\n\\nIf you write JavaScript
        for the web or have\_followed open source over the past ...\",\"cover_image\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--J5m-ukZv--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/http://i.imgur.com/m0Ha8Lt.png\",\"published_at\":\"2016-01-18T19:07:01.000Z\",\"readable_publish_date\":\"Jan
        18 '16\",\"social_image\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--M48B0KjH--/c_imagga_scale,f_auto,fl_progressive,h_500,q_auto,w_1000/http://i.imgur.com/m0Ha8Lt.png\",\"tag_list\":\"\",\"slug\":\"do-not-let-javascript-fatigue-become-a-buzzword\",\"path\":\"/ben/do-not-let-javascript-fatigue-become-a-buzzword\",\"url\":\"https://dev.to/ben/do-not-let-javascript-fatigue-become-a-buzzword\",\"canonical_url\":\"https://dev.to/ben/do-not-let-javascript-fatigue-become-a-buzzword\",\"comments_count\":1,\"positive_reactions_count\":16,\"body_html\":\"\\u003c!DOCTYPE
        html PUBLIC \\\"-//W3C//DTD HTML 4.0 Transitional//EN\\\" \\\"http://www.w3.org/TR/REC-html40/loose.dtd\\\"\\u003e\\n\\u003chtml\\u003e\\u003cbody\\u003e\\n\\u003cp\\u003eIf
        you write JavaScript for the web or have\_followed open source over the past
        few weeks, you have probably heard the phrase \u201CJavaScript fatigue.\u201D
        Despite the excitement\_in JavaScript, this phenomenon is real. The phrase\_refers\_the
        notion that\_the current [...]
