interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.to/api/articles?page=1&tag=python
  response:
    body:
      string: "[{\"type_of\":\"article\",\"id\":95911,\"title\":\"Reverse engineering
        Python's memory - Integers\",\"description\":\"Digging into Python's internal
        representation of integers\",\"cover_image\":null,\"published_at\":\"2019-03-31T08:03:19.011Z\",\"tag_list\":[\"python\"],\"slug\":\"reverse-engineering-python-s-memory-integers-2d4p\",\"path\":\"/nowke/reverse-engineering-python-s-memory-integers-2d4p\",\"url\":\"https://dev.to/nowke/reverse-engineering-python-s-memory-integers-2d4p\",\"canonical_url\":\"https://dev.to/nowke/reverse-engineering-python-s-memory-integers-2d4p\",\"comments_count\":0,\"positive_reactions_count\":2,\"user\":{\"name\":\"Navaneesh
        Kumar\",\"username\":\"nowke\",\"twitter_username\":\"inowke\",\"github_username\":\"nowke\",\"website_url\":\"https://nowke.github.io\",\"profile_image\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--gvx2CEi3--/c_fill,f_auto,fl_progressive,h_640,q_auto,w_640/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/141375/75864b73-3736-48f1-889a-8d15b4dcd17a.jpeg\",\"profile_image_90\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--W_hwebDS--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/141375/75864b73-3736-48f1-889a-8d15b4dcd17a.jpeg\"}},{\"type_of\":\"article\",\"id\":95681,\"title\":\"Machine
        learning y data science con scikit-learn y pyspark\",\"description\":\"Machine
        learning y data science con scikit-learn y pyspark\",\"cover_image\":null,\"published_at\":\"2019-03-30T20:29:26[...]
[...]
