interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.to/api/articles?page=1
  response:
    body:
      string: "[{\"type_of\":\"article\",\"id\":45076,\"title\":\"Relative Font Weights
        Considered Harmful\",\"description\":\"The `bolder` and `lighter` keywords
        may not work the way you expect, so use them wisely, if at all.\",\"cover_image\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--SC_MCNTJ--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://thepracticaldev.s3.amazonaws.com/i/sfrv6kq0opuk17m8p9br.jpg\",\"published_at\":\"2019-03-31T02:25:06.851Z\",\"tag_list\":[\"css\",\"typography\",\"fonts\"],\"slug\":\"relative-font-weights-considered-harmful-4f3i\",\"path\":\"/denmch/relative-font-weights-considered-harmful-4f3i\",\"url\":\"https://dev.to/denmch/relative-font-weights-considered-harmful-4f3i\",\"canonical_url\":\"https://dev.to/denmch/relative-font-weights-considered-harmful-4f3i\",\"comments_count\":0,\"positive_reactions_count\":7,\"user\":{\"name\":\"Den
        McHenry\",\"username\":\"denmch\",\"twitter_username\":\"DenMcH\",\"github_username\":\"denmch\",\"website_url\":\"https://denm.ch\",\"profile_image\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--3pRyYm0u--/c_fill,f_auto,fl_progressive,h_640,q_auto,w_640/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/65069/716b98c1-b58a-4237-a83e-df850356354a.jpeg\",\"profile_image_90\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--IT60WSTF--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/65069/716b98c1-b58a-4237-a83e-df850356354a.jpeg\"}},{\"type_of\":\"article\",\"id\":95860,\"title\":\"Visual
        Studio Tips - Solution Explorer Search\",\"description\":\"\\n\\nSolution
        Explorer Search has been in Visual Studio for a while, but there are a...\",\"cover_image\":null,\"published_at\":\"201[...]
[...]
