interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.to/api/articles?tag=python&top=5&page=1
  response:
    body:
      string: "[{\"type_of\":\"article\",\"id\":94873,\"title\":\"A Complete Beginner's
        Guide to Programming\",\"description\":\"\\n\\nThis post may seem out of place
        on a site for programmers, but I wanted to writ...\",\"cover_image\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--V7Jn_iN0--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://res.cloudinary.com/practicaldev/image/fetch/s--eFq4fOF0--/c_imagga_scale%2Cf_auto%2Cfl_progressive%2Ch_420%2Cq_auto%2Cw_1000/https://thepracticaldev.s3.amazonaws.com/i/il2nck2am92gt9io9232.png\",\"published_at\":\"2019-03-28T01:24:31.214Z\",\"tag_list\":[\"beginners\",\"programming\",\"python\"],\"slug\":\"a-complete-beginner-s-guide-to-programming-2ni4\",\"path\":\"/aspittel/a-complete-beginner-s-guide-to-programming-2ni4\",\"url\":\"https://dev.to/aspittel/a-complete-beginner-s-guide-to-programming-2ni4\",\"canonical_url\":\"https://dev.to/aspittel/a-complete-beginner-s-guide-to-programming-2ni4\",\"comments_count\":19,\"positive_reactions_count\":271,\"user\":{\"name\":\"Ali
        Spittel\",\"username\":\"aspittel\",\"twitter_username\":\"ASpittel\",\"github_username\":\"aspittel\",\"website_url\":\"https://alispit.tel\",\"profile_image\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--dl01AXY0--/c_fill,f_auto,fl_progressive,h_640,q_auto,w_640/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/38627/77a2a5e7-603e-41b4-afcc-f7aff468ae2f.jpg\",\"profile_image_90\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--B4zg8Ob1--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/38627/77a2a5e7-603e-41b4-afcc-f7aff468ae2f.jpg\"}},{\"type_of\":\"article\",\"id\":84894,\"title\":\"Engineering
        guide to writing correct User Stories\",\"description\":\"Agile people are
        obsessed with writing user stories. And it a very powerful instrument indeed.
        But, from my practice a lot [...]
