interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.to/api/articles?page=1&username=azure
  response:
    body:
      string: "[{\"type_of\":\"article\",\"id\":94169,\"title\":\"Building a Visual
        Studio Code Extension\",\"description\":\"Details on getting started with
        building an extension for Visual Studio Code\",\"cover_image\":null,\"published_at\":\"2019-03-30T01:59:50.049Z\",\"tag_list\":[\"vscode\",\"javascript\",\"typescript\",\"extension\"],\"slug\":\"building-a-visual-studio-code-extension-dkj\",\"path\":\"/azure/building-a-visual-studio-code-extension-dkj\",\"url\":\"https://dev.to/azure/building-a-visual-studio-code-extension-dkj\",\"canonical_url\":\"https://dev.to/azure/building-a-visual-studio-code-extension-dkj\",\"comments_count\":0,\"positive_reactions_count\":98,\"user\":{\"name\":\"Brian
        Clark\",\"username\":\"_clarkio\",\"twitter_username\":\"_clarkio\",\"github_username\":\"clarkio\",\"website_url\":\"https://clarkio.com\",\"profile_image\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--PltrhOcA--/c_fill,f_auto,fl_progressive,h_640,q_auto,w_640/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/140864/71f321d8-6b3c-42b4-94ba-a74ebbee23df.jpg\",\"profile_image_90\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--IlQY76B0--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/140864/71f321d8-6b3c-42b4-94ba-a74ebbee23df.jpg\"},\"organization\":{\"name\":\"Microsoft
        Azure\",\"username\":\"azure\",\"slug\":\"azure\",\"profile_image\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--W1sXC6kT--/c_fill,f_auto,fl_progressive,h_640,q_auto,w_640/https://thepracticaldev.s3.amazonaws.com/uploads/organization/profile_image/512/64ce0b82-730d-4ca0-8359-2c21513a0063.jpg\",\"profile_image_90\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--ky6F658R--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://thepracticaldev.s3.a[...]
