interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.to/api/articles?state=fresh
  response:
    body:
      string: '[{"type_of":"article","id":95939,"title":"How do you deal with stress?","description":"\n\n\n\n\n...","cover_image":null,"published_at":"2019-03-31T13:07:38.309Z","tag_list":["discuss"],"slug":"how-do-you-deal-with-stress-1lij","path":"/itsjzt/how-do-you-deal-with-stress-1lij","url":"https://dev.to/itsjzt/how-do-you-deal-with-stress-1lij","canonical_url":"https://dev.to/itsjzt/how-do-you-deal-with-stress-1lij","comments_count":0,"positive_reactions_count":0,"user":{"name":"Saurabh
        Sharma","username":"itsjzt","twitter_username":"itsjzt","github_username":"itsjzt","website_url":"https://itsjzt.github.io","profile_image":"https://res.cloudinary.com/practicaldev/image/fetch/s--GvTXCN8v--/c_fill,f_auto,fl_progressive,h_640,q_auto,w_640/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/41065/7a92f3b5-e061-4d62-a946-29f114390912.jpg","profile_image_90":"https://res.cloudinary.com/practicaldev/image/fetch/s--ngdVmyNd--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/41065/7a92f3b5-e061-4d62-a946-29f114390912.jpg"},"flare_tag":{"name":"discuss","bg_color_hex":"#000000","text_color_hex":"#FFFFFF"}},{"type_of":"article","id":95936,"title":"I
        am a programming coach/trainer, Ask Me Anything!","description":"\n\nI was
        a programmer, I was a project in chief (the guy that hired developers), a...","cover_image":null,"published_at":"2019-03-31T13:10:29.738Z","tag_list":["ama"],"slug":"i-am-a-programming-coach-trainer-ask-me-anything-2mp2","path":"/jorgecc/i-am-a-programming-coach-trainer-ask-me-anything-2mp2","url":"https://dev.to/jorgecc/i-am-a-programming-coach-traine[...]
