interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.to/api/articles?state=rising
  response:
    body:
      string: "[{\"type_of\":\"article\",\"id\":95907,\"title\":\"What Security Through
        Obscurity Is, and Why It's Evil\",\"description\":\"... and how you might
        be doing it.\",\"cover_image\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--NDXZXYxb--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://www.explainhownow.com/assets/images/security_through_obscurity_cover.png\",\"published_at\":\"2019-03-31T07:17:08.737Z\",\"tag_list\":[\"security\",\"beginners\",\"webappsecurity\",\"webdev\"],\"slug\":\"what-security-through-obscurity-is-and-why-it-s-evil-47d5\",\"path\":\"/kathyra_/what-security-through-obscurity-is-and-why-it-s-evil-47d5\",\"url\":\"https://dev.to/kathyra_/what-security-through-obscurity-is-and-why-it-s-evil-47d5\",\"canonical_url\":\"https://www.explainhownow.com/2019/security-through-obscurity/\",\"comments_count\":3,\"positive_reactions_count\":31,\"user\":{\"name\":\"Katerina
        Borodina\",\"username\":\"kathyra_\",\"twitter_username\":\"kathyra_\",\"github_username\":null,\"website_url\":\"https://www.explainhownow.com/\",\"profile_image\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--3vLJtmuK--/c_fill,f_auto,fl_progressive,h_640,q_auto,w_640/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/143888/d0e058df-a9ea-4518-871c-c6ebced55159.jpg\",\"profile_image_90\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--UBLALW91--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://thepracticaldev.s3.amazonaws.com/uploads/user/profile_image/143888/d0e058df-a9ea-4518-871c-c6ebced55159.jpg\"}},{\"type_of\":\"article\",\"id\":95929,\"title\":\"Dragula:
        A free stock images tool on steroids \U0001F987\",\"description\":\"\",\"cover_image\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--NAWSgN0c--/c_imagga_scale,f_auto,fl_progressive,h_420,q[...]
