interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.to/api/podcast_episodes?page=1&username=rubyrogues
  response:
    body:
      string: '[{"type_of":"podcast_episodes","id":9111,"path":"/rubyrogues/mrs-084-justin-searls","image_url":"https://thepracticaldev.s3.amazonaws.com/uploads/podcast/image/15/meLoMMa.png","title":"MRS
        084: Justin Searls","podcast":{"title":"Ruby Rogues","slug":"rubyrogues","image_url":"https://thepracticaldev.s3.amazonaws.com/uploads/podcast/image/15/meLoMMa.png"}},{"type_of":"podcast_episodes","id":9105,"path":"/rubyrogues/rr-406-how-hard-is-ruby-on-rails-to-learn","image_url":"https://thepracticaldev.s3.amazonaws.com/uploads/podcast/image/15/meLoMMa.png","title":"RR
        406: How Hard is Ruby on Rails to Learn?","podcast":{"title":"Ruby Rogues","slug":"rubyrogues","image_url":"https://thepracticaldev.s3.amazonaws.com/uploads/podcast/image/15/meLo[...]
[...]
