interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.to/api/podcast_episodes?page=1
  response:
    body:
      string: "[{\"type_of\":\"podcast_episodes\",\"id\":9111,\"path\":\"/rubyrogues/mrs-084-justin-searls\",\"image_url\":\"https://thepracticaldev.s3.amazonaws.com/uploads/podcast/image/15/meLoMMa.png\",\"title\":\"MRS
        084: Justin Searls\",\"podcast\":{\"title\":\"Ruby Rogues\",\"slug\":\"rubyrogues\",\"image_url\":\"https://thepracticaldev.s3.amazonaws.com/uploads/podcast/image/15/meLoMMa.png\"}},{\"type_of\":\"podcast_episodes\",\"id\":9109,\"path\":\"/sedaily/operational-analytics-with-jad-naous\",\"image_url\":\"https://thepracticaldev.s3.amazonaws.com/uploads/podcast/image/1/lM7fSW24.jpg\",\"title\":\"Operational
        Analytics with Jad Naous\",\"podcast\":{\"title\":\"Software Engineering Daily\",\"slug\":\"sedaily\",\"image_url\":\"https://thepracticaldev.s3.amazonaws[...]
[...]
