interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.to/api/tags?page=1
  response:
    body:
      string: '[{"id":6,"name":"javascript","bg_color_hex":"#F7DF1E","text_color_hex":"#000000"},{"id":3371,"name":"archlinux","bg_color_hex":"#0009BD","text_color_hex":"#FFFFFF"},{"id":715,"name":"discuss","bg_color_hex":"#000000","text_color_hex":"#FFFFFF"},{"id":8,"name":"webdev","bg_color_hex":"#562765","text_color_hex":"#ffffff"},{"id":555,"name":"beginners","bg_color_hex":"#008335","text_color_hex":"#FFFFFF"},{"id":59,"name":"introductions","bg_color_hex":"","text_color_hex":""},{"id":33,"name":"programming","bg_color_hex":null,"text_color_hex":null},{"id":125,"name":"react","bg_color_hex":"#222222","text_color_hex":"#61DAF6"},{"id":630,"name":"career","bg_color_hex":"#2A2566","text_color_hex":"#FFFFFF"},{"id":25,"name":"python","bg_color_hex":"#1E38BB","text_color_hex":"#FFDF5B"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dcdb2ef248c435044b0446cb021d5cb7"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.to/api/tags?page=1
  response:
    body:
      string: '[{"id":6,"name":"javascript","bg_color_hex":"#F7DF1E","text_color_hex":"#000000"},{"id":3371,"name":"archlinux","bg_color_hex":"#0009BD","text_color_hex":"#FFFFFF"},{"id":715,"name":"discuss","bg_color_hex":"#000000","text_color_hex":"#FFFFFF"},{"id":8,"name":"webdev","bg_color_hex":"#562765","text_color_hex":"#ffffff"},{"id":555,"name":"beginners","bg_color_hex":"#008335","text_color_hex":"#FFFFFF"},{"id":59,"name":"introductions","bg_color_hex":"","text_color_hex":""},{"id":33,"name":"programming","bg_color_hex":null,"text_color_hex":null},{"id":125,"name":"react","bg_color_hex":"#222222","text_color_hex":"#61DAF6"},{"id":630,"name":"career","bg_color_hex":"#2A2566","text_color_hex":"#FFFFFF"},{"id":25,"name":"python","bg_color_hex":"#1E38BB","text_color_hex":"#FFDF5B"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f43f8470643c84b939df044e723cb1a0"
    status:
      code: 200
      message: OK
version: 1
