interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://dev.to/api/tags/onboarding
  response:
    body:
      string: '[{"id":338,"name":"gamedev","bg_color_hex":"#3D005C","text_color_hex":"#99FFB8","following":null},{"id":17,"name":"sql","bg_color_hex":"#ED1556","text_color_hex":"#FFFFFF","following":null},{"id":1809,"name":"a11y","bg_color_hex":"#083B15","text_color_hex":"#FAFFFA","following":null},{"id":23,"name":"css","bg_color_hex":"#004f86","text_color_hex":"#ffffff","following":null},{"id":9,"name":"scala","bg_color_hex":"#DF3F3D","text_color_hex":"#fff","following":null},{"id":12,"name":"ios","bg_color_hex":"#0c76e2","text_color_hex":"#ffffff","following":null},{"id":14,"name":"clojure","bg_col[...]
